@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", arial;
}
* {
  scroll-behavior: smooth;
}

html.dark ::-webkit-scrollbar-track {
  background-color: #09090b;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #2d2d3284;
  border-radius: 15px;
}

html ::-webkit-scrollbar {
  width: 8px;
}

html ::-webkit-scrollbar-track {
  background-color: #f4f4f5;
}

html ::-webkit-scrollbar-thumb {
  background-color: #29292d7d;
  border-radius: 15px;
}

#modalArea::-webkit-scrollbar {
  display: none;
}
